.blob-upper-left {
      width: 20rem;
      height: 10rem;
      background-color: F0D000;
      border-radius: 100px / 50px;
      margin: 0 auto;
      float: left;
      position: absolute;
}

.blob-upper-right {
      width: 20rem;
      height: 10rem;
      background-color: F0D000;
      border-radius: 100px / 50px;
      margin: 0 auto;
      float: right;
      position: absolute
}

.blob-lower-left {
      width: 20rem;
      height: 10rem;
      background-color: F0D000;
      border-radius: 100px / 50px;
      margin: 0 auto;
      float: left;
      position: absolute
}

.blob-lower-right {
      width: 20rem;
      height: 10rem;
      background-color: F0D000;
      border-radius: 100px / 50px;
      margin: 0 auto;
      float: right;
      position: absolute
}
  
