body { background-color: E0B600;
     text-align: center;
      font-size: 2.7rem;
      font-color: black;
     }

 
ul {
  text-align: center;
  list-style-position: inside;
}

li {
    align-item: left; 
}

h1 {
     font-size: 10rem;
}
