body { 
     background-color: E0B600;
     text-align: center;
     font-size: 2.7rem;
     font-color: black;
     }

h1 {
     font-size: 10rem;
}
 
ul {
  font-size: 2.7rem;
  display: inline-block;
  text-align: left;
  list-style-position: inside;
}

#contact {
     width: max-content; 
     margin: 0 auto; 
     text-align: left;
}



#contact p {
     
}

#bio p {
     font-size : 2rem;
}


