body { background-color: E0B600;
     text-align: center;
      font-size: 2.7rem;
      font-color: black;
     }

 
ul {
  display: inline-block;
  text-align: left;
  list-style-position: inside;
}

h1 {
     font-size: 10rem;
}
